.menu {
    background-color: var(--bg-med);
    padding: 3rem;
    border-radius: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu p {
    font-size: 1.5rem;
    color: var(--text-normal);
}

button {
    border: none;
    border-radius: 1rem;
}

button:hover {
    background-color: var(--highlight);
    color: var(--text-normal);
}

@media(max-width: 1000px) {
    :root {
        font-size: 2vw;
    }

    body {
        flex-direction: column;
        padding: 4rem;
    }

    .grid * {
        width: 10rem;
        height: 10rem;
    }

    .menu p {
        font-size: 2rem;
    }

    .menu .score {
        margin-bottom: 4rem;
    }

    .menu .home-button {
        font-size: 2rem;
        border-radius: 2rem;
        padding: 1.4rem;
    }
}